
@CHARSET "UTF-8";


/* ----------------------------------------------
-- SILVER BORDER
---------------------------------------------- */

.silver {
	
	/* drop shadows. */
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.45), 0px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.45), 0px 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 5px rgba(0,0,0,0.45), 0px 1px 2px rgba(0,0,0,0.2); /* standard version at last */
	
	/* general */
	border-color: #fff;
	
	/* background color (for non css3 browsers) and gradient */
	background-color: #dfdfdf;
	background: -moz-linear-gradient(top,
		#fff,
		#dfdfdf 50%,
		#cecece
	);
	background: -webkit-gradient(linear, left top, left bottom,
		from(#fff),
		color-stop(0.5, #dfdfdf),
		to(#cecece)
	);
	
	/* linear gradient for IE 5.5+ */
	filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#FFFFFF', EndColorStr='#CECECE');
}

/* ----------------------------------------------
-- CARBON BORDER
---------------------------------------------- */

.carbon {

	/* drop shadows. */
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.45), 0px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.45), 0px 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 5px rgba(0,0,0,0.45), 0px 1px 2px rgba(0,0,0,0.2); /* standard version at last */
	/* general */
	border-color: #000;

	/* background color (for non css3 browsers) and gradient */
	background-color: #2d2d2d;
	background: -moz-linear-gradient(top,
		#404040,
		#2d2d2d 50%,
		#000
	);
	background: -webkit-gradient(linear, left top, left bottom,
		from(#404040),
		color-stop(0.5, #2d2d2d),
		to(#000)
	);

	/* linear gradient for IE 5.5+ */
	filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#404040', EndColorStr='#000000');
}

/* ----------------------------------------------
-- TRANSPARENT WHITE BORDER
---------------------------------------------- */

.trans_white {

	/* drop shadows. */
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.45), 0px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.45), 0px 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 5px rgba(0,0,0,0.45), 0px 1px 2px rgba(0,0,0,0.2); /* standard version at last */
	/* general */
	border-color: #fff;
	
	/* BACKGROUND COLOR */
	background-color: rgba(255,255,255,0.4);
	/background-color: #fff; /* FOR IE */
}

.fortress {	
	
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000000;
    font-size: 22px;
    text-shadow: 1px 1px 0px rgba(255,255,255,.5);  
    
	-webkit-border-radius: 10px; 
    border-radius: 10px;
  	background-clip: padding-box; 
  	
	background: white;
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 50%, rgba(225, 225, 225, 1) 51%, rgba(246, 246, 246, 1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 255, 255, 1)), color-stop(50%,rgba(241, 241, 241, 1)), color-stop(51%,
	rgba(225, 225, 225, 1)), color-stop(100%,rgba(246, 246, 246, 1)));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(241, 241, 241, 1) 50%,rgba(225, 225, 225, 1) 51%,rgba(246, 246, 246, 1) 100%);
	background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(241, 241, 241, 1) 50%,rgba(225, 225, 225, 1) 51%,rgba(246, 246, 246, 1) 100%);
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(241, 241, 241, 1) 50%,rgba(225, 225, 225, 1) 51%,rgba(246, 246, 246, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
	background: linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(241, 241, 241, 1) 50%,rgba(225, 225, 225, 1) 51%,rgba(246, 246, 246, 1) 100%);
	border-color: #E0E0E0 #D1D1D1 #B2B2B2;
	color: #646464 !important;
	-webkit-box-shadow: 0 1px 1px #D1D1D1, inset 0 1px 0 white;
	-moz-box-shadow: 0 1px 1px #D1D1D1, inset 0 1px 0 #fff;
	box-shadow: 0px 1px 2px #D1D1D1, inset 0 1px 0 white; 
}

.blackText {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 18px;   
   font: bold; 
}

.heading {
   font-family: Tahoma, Geneva, sans-serif;
   font-size: 25px;   
   font: bold; 
   
}


.redText {	

	   font-family: Arial, Sans-serif;
   	   font-size: 4px;
}

.button {
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  min-width: 96px;
  line-height: 46px;
  padding: 0 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;   
  font-color: white;
  text-color: white;
  font: bold; 
  color: white;
  text-align: center;
  text-shadow: 0 1px #72100d;
  background-color: #247edd;
  background-clip: padding-box;
  border: 1px solid;
  border-color: #1c65b2 #18589c #18589c;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

.button:before {
  content: '';
  position: absolute;
  top: -25%;
  bottom: -25%;
  left: -20%;
  right: -20%;
  border-radius: 50%;
  background: transparent;
  -webkit-box-shadow: inset 0 0 38px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 38px rgba(255, 255, 255, 0.5);
}

.button:hover { background-color: #1a74d3; }

.button:active {
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 -1px #154c86;
  background: #1f71c8;
  border-color: #113f70 #154c86 #1c65b2;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.4);
  background-image: -webkit-linear-gradient(top, #1a5da5, #3a8be0);
  background-image: -moz-linear-gradient(top, #1a5da5, #3a8be0);
  background-image: -o-linear-gradient(top, #1a5da5, #3a8be0);
  background-image: linear-gradient(to bottom, #1a5da5, #3a8be0);
}

.button:active:before {
  top: -50%;
  bottom: -125%;
  left: -15%;
  right: -15%;
  -webkit-box-shadow: inset 0 0 96px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 96px rgba(0, 0, 0, 0.2);
}

.box {
   border: 2px solid #AACCEE;
   display: block;
   font-size: 17px;
   margin: 0 0 5px;
}

.menu {
	
	text-align: left;
  display: inline;
  margin: 0;
  padding: 2px 2px 2px 0;
  list-style: none;  
  background: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);	
}

.menuItem {
	
	font: bold 13px/18px sans-serif;
  display: inline-block;
  margin-right: -1px;
  position: relative;
  padding: 2px 2px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.menuItem:hover {
	
	 background: #666;	
}

.background {
   background-color: #999999;
   border: 1px none transparent;
   color: #000000;
   font-size: 11px;
   margin-left: -8px;
   margin-top: 5px;
   padding: 6px;
}